### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [247]:
# Dependencies and Setup

import pandas as pd
import numpy as np

# File to Load

file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

purchase_data_df = pd.read_csv(file)

## Player Count

* Display the total number of players

In [248]:
# Total Number of Players

total_players = purchase_data_df["SN"].nunique()
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [249]:
# Purchasing Analysis

number_unique_items = purchase_data_df["Item ID"].nunique()
average_price = purchase_data_df["Price"].mean()
number_purchases = purchase_data_df["Purchase ID"].count()
total_revenue = purchase_data_df["Price"].sum()

# Purchasing Summary DataFrame

purchase_summary_df = pd.DataFrame({"Number of Unique Items":[number_unique_items],
                                    "Average Price":[average_price], 
                                    "Number of Purchases": [number_purchases], 
                                    "Total Revenue": [total_revenue]})

purchase_summary_df.style.format({'Average Price':"${:,.2f}",
                                  'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [250]:
# Gender Demographics

sort_genders = purchase_data_df.groupby("Gender")
total_gender = sort_genders.nunique()["SN"]
total_gender.head()
player_percentage = round((total_gender / total_players)*100,2)

# Gender DataFrame

gender_df = pd.DataFrame({"Percentage of Players": player_percentage, "Total Count": total_gender})
gender_df.index.name = None
gender_df.sort_values(["Total Count"], ascending = False)

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [251]:
# Purchasing Analysis by Gender

purchase_count = sort_genders["Purchase ID"].count()
avg_purchase_price = sort_genders["Price"].mean()
gender_purchase_total = sort_genders["Price"].sum()
avg_purchase_per = (avg_purchase_total / total_gender)

# Gender Purchasing DataFrame

gender_purchasing_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": gender_purchase_total,
                                    "Avg Total Purchase per Person": avg_purchase_per})

gender_purchasing_df.index.name = "Gender"
gender_purchasing_df.style.format({"Average Purchase Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}",
                                   "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [252]:
# Age Demographics

# Creating and Sorting Bins

age_bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],age_bins, labels=group_names)

groupedbyage = purchase_data_df.groupby("Age Group")

# Count and Percentage Caculations

total_count_age = groupedbyage["SN"].nunique()
age_percentage = round((total_count_age / total_players)*100,2)

# Age DataFrame

age_df = pd.DataFrame({"Percentage of Players": age_percentage, "Total Count": total_count_age})
age_df.index.name = None
age_df

       Percentage of Players  Total Count
<10                     2.95           17
10-14                   3.82           22
15-19                  18.58          107
20-24                  44.79          258
25-29                  13.37           77
30-34                   9.03           52
35-39                   5.38           31
40+                     2.08           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [253]:
# Purchasing Analysis by Age

purchase_count_age = groupedbyage["Purchase ID"].count()
avg_purchase_price_age = groupedbyage["Price"].mean()
age_purchase_total = groupedbyage["Price"].sum()
avg_purchase_per_age = avg_purchase_total_age / total_count_age

# Create data frame with obtained values

age_purchasing_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value": age_purchase_total,
                                 "Average Total Purchase per Person": avg_purchase_per_age})

age_purchasing_df.index.name = None

age_purchasing_df.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [254]:
# Spender Stats

sort_spenders = purchase_data_df.groupby("SN")

purchase_count_spender = sort_spenders["Purchase ID"].count()
avg_purchase_price_spender = sort_spenders["Price"].mean()
spender_purchase_total = sort_spenders["Price"].sum()

# Spender DataFrame

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value": spender_purchase_total})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [255]:
# Item Dataframe

items_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
items_sort_df = items_df.groupby(["Item ID","Item Name"])

# Item Calculations

purchase_count_item = items_sort_df["Price"].count()
purchase_value_item = items_sort_df["Price"].sum() 
item_price = purchase_value_item / purchase_count_item

# Most Popular Items DataFrame

popular_items_df = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value_item})

most_popular_df = popular_items_df.sort_values(["Purchase Count"], ascending=False).head()

most_popular_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [256]:
# Most Profitable DF

most_profitable_df = popular_items_df.sort_values(["Total Purchase Value"],ascending=False).head()

most_profitable_df.style.format({"Item Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

In [257]:
# You must include a written description of three observable trends based on the data.